
<% if logged_in? %>

      
 
  <h3>following (
<%= @user.following_users.count %>
)</h3>
           <ol class="following_users">
          <%= render partial: 'following_users/following_user', collection: @following_users %>
     
      </ol>

 
<% else %>
 <div class="center jumbotron">
     <h1>Welcome to the Microposts</h1>
     
     <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
 </div>
<% end %>